Repository Qubit02/BrainTrace, pull requests merged in 2025-07, with the labels that each got.

#7 Dev
  backend/models/__init__.py
  backend/neo4j_db/__init__.py
  backend/services/__init__.py
  backend/sqlite_db/__init__.py
  backend/sqlite_db/brain_handler.py
  backend/sqlite_db/sqlite_handler.py
  frontend/src/components/GraphModal.jsx
  frontend/src/components/layout/AppFooter.css
  frontend/src/components/layout/AppHeader.css
  frontend/src/components/layout/ProjectListView.css
  frontend/src/components/layout/ProjectListView.jsx
  frontend/src/components/panels/ChatPanel.jsx
  frontend/src/components/panels/GraphViewForFullscreen.jsx
  frontend/src/components/panels/GraphViewStandalone.jsx
  frontend/src/components/panels/SourceUploadModal.jsx
  frontend/src/components/panels/styles/ChatPanel.css
  frontend/src/components/panels/styles/Common.css
  frontend/src/components/panels/styles/FileView.css
  frontend/src/components/panels/styles/GraphView.css
  frontend/src/components/panels/styles/GraphViewWithModal.css
  frontend/src/components/panels/styles/MemoEditor.css
  frontend/src/components/panels/styles/MemoList.css
  frontend/src/components/panels/styles/MemoPanel.css
  frontend/src/components/panels/styles/ProjectPanel.css
  frontend/src/components/panels/styles/SourcePanel.css
  frontend/src/components/panels/styles/SourceQuotaBar.css
  frontend/src/components/panels/styles/SourceUploadModal.css
  frontend/src/data/projectData.js
Labels: ♻️ refactor, 💫 feat, 🔥 backend, 📝 docs

#27 feat : 지원되지 파일 형식을 추가할 경우 toast 라이브러리 통해 알림 표시 (refs #26)
  frontend/package.json
  frontend/src/components/panels/FileView.jsx
Labels: 🌈 frontend, 💫 feat

#30 D2
  frontend/src/components/panels/FileView.jsx
  frontend/src/components/panels/fileHandlers/deleteHandlers.js
  frontend/src/components/panels/fileHandlers/fileHandlers.js
  frontend/src/components/panels/fileHandlers/fileMetaExtractors.js
  frontend/src/components/panels/fileHandlers/nameUpdateHandlers.js
Labels: ♻️ refactor, 🌈 frontend

#33 feat : 프로젝트 이동 시 데이터가 준비 완료될 때까지 스피너 보이게 구현 (refs : #31)
  frontend/src/components/common/ConfirmDialog.css
  frontend/src/components/common/ConfirmDialog.jsx
  frontend/src/components/common/Spinner.css
  frontend/src/components/common/Spinner.jsx
  frontend/src/components/layout/MainLayout.css
  frontend/src/components/layout/MainLayout.jsx
  frontend/src/components/layout/ProjectListView.jsx
  frontend/src/components/panels/ChatPanel.jsx
  frontend/src/components/panels/FileView.jsx
  frontend/src/components/panels/InsightPanel.jsx
  frontend/src/components/panels/ProjectPanel.jsx
  frontend/src/components/panels/SourcePanel.jsx
Labels: 🌈 frontend, 💫 feat

#37 Yechan
  frontend/src/App.jsx
  frontend/src/components/common/Common.css
  frontend/src/components/layout/MainLayout.jsx
  frontend/src/components/panels/Chat/ChatPanel.css
  frontend/src/components/panels/Chat/ChatPanel.jsx
  frontend/src/components/panels/Insight/Graph/GraphView.css
  frontend/src/components/panels/Insight/Graph/GraphView.jsx
  frontend/src/components/panels/Insight/Graph/GraphViewForFullscreen.css
  frontend/src/components/panels/Insight/Graph/GraphViewForFullscreen.jsx
  frontend/src/components/panels/Insight/Graph/GraphViewStandalone.jsx
  frontend/src/components/panels/Insight/Graph/GraphViewWithModal.css
  frontend/src/components/panels/Insight/Graph/GraphViewWithModal.jsx
  frontend/src/components/panels/Insight/InsightPanel.jsx
  frontend/src/components/panels/Insight/Memo/MemoEditor.css
  frontend/src/components/panels/Insight/Memo/MemoEditor.jsx
  frontend/src/components/panels/Insight/Memo/MemoList.css
  frontend/src/components/panels/Insight/Memo/MemoListPanel.jsx
  frontend/src/components/panels/Insight/Memo/MemoPanel.css
  frontend/src/components/panels/Insight/hooks/useAudioRecorder.js
  frontend/src/components/panels/Project/NewBrainModal.css
  frontend/src/components/panels/Project/NewBrainModal.jsx
  frontend/src/components/panels/Project/ProjectPanel.css
  frontend/src/components/panels/Project/ProjectPanel.jsx
  frontend/src/components/panels/Source/FileIcon.jsx
  frontend/src/components/panels/Source/FileView.css
  frontend/src/components/panels/Source/FileView.jsx
  frontend/src/components/panels/Source/HighlightPopup.jsx
  frontend/src/components/panels/Source/PDFSidebar.css
  frontend/src/components/panels/Source/PDFSidebar.jsx
  frontend/src/components/panels/Source/SourcePanel.css
  frontend/src/components/panels/Source/SourcePanel.jsx
  frontend/src/components/panels/Source/SourceQuotaBar.css
  frontend/src/components/panels/Source/SourceQuotaBar.jsx
  frontend/src/components/panels/Source/SourceUploadModal.css
  frontend/src/components/panels/Source/SourceUploadModal.jsx
  frontend/src/components/panels/Source/fileHandlers/deleteHandlers.js
  frontend/src/components/panels/Source/fileHandlers/fileHandlers.js
  frontend/src/components/panels/Source/fileHandlers/fileMetaExtractors.js
  frontend/src/components/panels/Source/fileHandlers/nameUpdateHandlers.js
  frontend/src/components/panels/Source/viewer/MemoViewer.jsx
  frontend/src/components/panels/Source/viewer/PDFViewer.jsx
  frontend/src/components/panels/Source/viewer/TxtViewer.jsx
  frontend/src/components/panels/Source/viewer/Viewer.css
Labels: ♻️ refactor, 🌈 frontend

#39 CHORE : 잘못된 package.json 파일들 정리
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Labels: ⚙️ chore

#51 50 소스 한도를 다른 다르게 보여주기
  backend/neo4j_db/Neo4jHandler.py
  backend/routers/brainGraph.py
  frontend/api/graphApi.js
  frontend/src/components/panels/Source/SourcePanel.jsx
  frontend/src/components/panels/Source/SourceQuotaBar.css
  frontend/src/components/panels/Source/SourceQuotaBar.jsx
Labels: 💫 feat, 🔥 backend

#52 42 mainlayout 사용하지 않는 session 변수없애기
  backend/routers/chatRouter.py
  backend/sqlite_db/chat_handler.py
  frontend/api/chat.js
  frontend/src/components/layout/MainLayout.jsx
  frontend/src/components/panels/Chat/ChatPanel.css
  frontend/src/components/panels/Chat/ChatPanel.jsx
  frontend/src/components/panels/Insight/InsightPanel.jsx
  frontend/src/components/panels/Project/ProjectPanel.css
  frontend/src/components/panels/Project/ProjectPanel.jsx
  frontend/src/components/panels/Source/SourcePanel.jsx
Labels: ♻️ refactor, 🌈 frontend, 💫 feat, 🔥 backend

#63 62 패널 준비 상태에 채팅 그래프 패널 로딩까지 포함
  frontend/src/components/layout/AppHeader.css
  frontend/src/components/layout/MainLayout.jsx
  frontend/src/components/panels/Chat/ChatPanel.jsx
  frontend/src/components/panels/Insight/Graph/GraphView.jsx
  frontend/src/components/panels/Insight/Graph/GraphViewWithModal.jsx
  frontend/src/components/panels/Insight/Graph/graphTimelapse.js
  frontend/src/components/panels/Insight/InsightPanel.jsx
Labels: ♻️ refactor, 🌈 frontend

#66 55 소스 추가 시 chatpanel에 바로 개수 반영되게 하는 로직 추가
  frontend/src/components/layout/MainLayout.jsx
  frontend/src/components/panels/Chat/ChatPanel.jsx
  frontend/src/components/panels/Insight/Memo/MemoEditor.jsx
  frontend/src/components/panels/Source/FileView.jsx
  frontend/src/components/panels/Source/SourcePanel.jsx
  frontend/src/components/panels/Source/viewer/PDFViewer.jsx
Labels: ♻️ refactor, 🌈 frontend

#78 그래프뷰 전체화면에서 노드 검색 시 생기는 버그 해결 (refs #77)
  frontend/src/components/panels/Insight/Graph/GraphView.jsx
  frontend/src/components/panels/Insight/Graph/GraphViewForFullscreen.css
  frontend/src/components/panels/Insight/Graph/GraphViewForFullscreen.jsx
Labels: 🐛 bug, 🌈 frontend

#82 81 docx 확장자도 파일 업로드뷰어보기삭제 등 전체 지원하게 기능 추가
  backend/main.py
  backend/requirements.txt
  backend/routers/brainGraph.py
  backend/routers/docxRouter.py
  backend/routers/mdRouter.py
  backend/routers/textFileRouter.py
  backend/sqlite_db/base_handler.py
  backend/sqlite_db/docxfile_handler.py
  backend/sqlite_db/sqlite_handler.py
  backend/uploaded_docx/0db0da45efac4ce39ad5b7f29c8996b2_안예찬은 고양이를 좋아한다.docx
  backend/uploaded_docx/3f3dc7e695b243eab6a44de72945c773_워드 문서는 너무나 폭력적이다.docs.docx
  backend/uploaded_mds/df2dc10288234bf287b81b2983bd32be_md테스트.md
  frontend/api/backend.js
  frontend/api/docx.js
  frontend/api/tmpAPI.js
  frontend/src/components/panels/Source/FileIcon.jsx
  frontend/src/components/panels/Source/FileView.jsx
  frontend/src/components/panels/Source/SourcePanel.jsx
  frontend/src/components/panels/Source/SourceUploadModal.jsx
  frontend/src/components/panels/Source/fileHandlers/deleteHandlers.js
  frontend/src/components/panels/Source/fileHandlers/fileHandlers.js
  frontend/src/components/panels/Source/fileHandlers/fileMetaExtractors.js
  frontend/src/components/panels/Source/fileHandlers/nameUpdateHandlers.js
  frontend/src/components/panels/Source/viewer/GenericViewer.jsx
Labels: 💫 feat
