Repository Qubit02/BrainTrace, pull requests merged in 2025-08, with the labels that each got.

#229 228 fix consecutive click bug in memo creation functionality
  README.md
  frontend/src/components/layout/AppFooter.css
  frontend/src/components/layout/AppFooter.jsx
  frontend/src/components/panels/Insight/Memo/MemoListPanel.css
  frontend/src/components/panels/Insight/Memo/MemoListPanel.jsx
  frontend/src/components/panels/Project/NewBrainModal.jsx
Labels: 🐛 bug

#236 dev to main
  CONTRIBUTING.md
  KNOWLEDGE_GRAPH.md
  README.md
  backend/.gitignore
  backend/app_factory.py
  backend/routers/brain_graph.py
  backend/routers/docx_router.py
  backend/routers/md_router.py
  backend/routers/pdf_router.py
  backend/routers/text_file_router.py
  backend/services/manual_chunking_sentences.py
  frontend/src/components/layout/AppHeader.css
  frontend/src/components/layout/AppHeader.jsx
Labels: 🐛 bug, 🌈 frontend

#238 feat: make generate edges for * node
  backend/services/manual_chunking_sentences.py
  backend/services/node_gen_ver5.py
Labels: 💫 feat, 🔥 backend

#248 246 도커 이미지 크기 개선
  .gitignore
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/neo4j_db/Neo4jHandler.py
  backend/requirements.txt
  backend/services/ollama_service.py
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
Labels: ♻️ refactor, ⚙️ chore
