Repository Qubit02/BrainTrace, pull requests merged in 2025-09, with the labels that each got.

#253 Feat: modify requirements.txt for english module, refs: #250
  backend/requirements.txt
  backend/services/manual_chunking.py
  backend/services/manual_chunking_sentences.py
Labels: 💫 feat, 🔥 backend, python

#254 Feat: modify requirements.txt for english module, refs: #250
  backend/requirements.txt
Labels: 💫 feat, 🔥 backend

#260 259 fix search highlighting for asterisked node names and hoist cleannodename to prevent referenceerror
  frontend/src/components/panels/Chat/ChatPanel.jsx
  frontend/src/components/panels/Insight/Graph/GraphView.jsx
Labels: 🐛 bug
